body  {
    --ion-color-primary :  #006600 ; 

    /* Lista RGB da cor */ 
    --ion-color-primary-rgb :  #0277bd ; 

    /* Preto ou branco, dependendo de qual cor dá mais contraste */ 
    --ion-color-primary-contrast :  #ffffff ; 

    /* Versão RGB da cor de contraste */ 
    --ion-color-primary-contrast-rgb :  255 , 255 , 255 ; 

    /* Cor ligeiramente mais escura. (misture 12% de preto) */ 
    --ion-color-primary-shade :  #0277bd;

    /* Cor ligeiramente mais clara. (misture 10% de branco) */ 
    --ion-color-primary-tint :  #0277bd ; 

    --core-header-toolbar-background :  #0277bd;
    /* Fundo da página */ 
    --background-color :  rgb(39, 39, 39) ;
    --background: rgb(39, 39, 39) ;
    --ion-background-color-rgb :  rgb(39, 39, 39) ;

    /* Cor do texto principal */ 
    --text-color :  rgb(255, 255, 255) ; 
    --ion-text-color-rgb :  0 ,  0 ,  0 ;

    /* Texto usado em categorias e conteúdo secundário */ 
    --subdued-text-color :  rgb(236, 236, 236) ;

    /* Texto dos links */ 
    --core-link-color :  rgb(119, 7, 110) ; 
}